@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to antapp</h1>
    <img src="/images/ai_ant.png" class="img-thumbnail rounded" style="height:60%;width:60%;" />
</div>
<div>
    <h4>How to play?</h4>
    -Start of by creating an account in top-right corner of the screen. <br>
    -If you already have an account, then simply log in into it using your user name or email. <br>
    -And start collecting ANTS! <br>
</div>
