
@model antapp.Chat.ViewModels.ChatViewModel

<div>
    <h1>Chat</h1>
</div>

@if(Model.Chat is null)
{

}
else{
    <h2>@Model.Chat.Chatname</h2>
    <h3 class="text-muted">@Model.Chat.Description</h3>
    <table class="table">
        @foreach(var x in Model.Entries)
        {
            <tr>
                <td>@x.EntryDate</td>
                <td>
                    <div>x.mesage</div>
                </td>
            </tr>
        }
    </table>
}

