
<div class="text-center">
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC6vUtCrF3B1OfZgnCvu6U2EhWT8c0dK9g
    &q=Space,Park Stanisława Tołpy+WA">
    </iframe>
</div>