
<div class="text-center">
    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC6vUtCrF3B1OfZgnCvu6U2EhWT8c0dK9g
    &q=Space,Park Stanisława Tołpy+WA">
    </iframe>
</div>
<div class="text-center">
    <button type="button" class="btn btn-primary">Game Action 1</button>
    <button type="button" class="btn btn-secondary">Game Action 2</button>
    <button type="button" class="btn btn-info">Game Action 3</button>
    <button type="button" class="btn btn-danger">Game Action 4</button>
</div>