@model antapp.Chat.ViewModels.ChatViewModel

@{
    ViewBag.Title = "Chat";
}

@if(Model.Chat is null)
{
    <h3>No chat with this id.</h3>
}
else{
    <h2>@Model.Chat.Chatname</h2>
    <h3 class="text-muted">@Model.Chat.Description</h3>
        @foreach(var x in Model.Entries)
        {
            <div class="card card bg-light mb-3" style="max-width: 90rem;">
                <div class="card-header">@x.userId</div>
                <div class="card-body">            
                    <p class="card-text">@x.message</p>
            </div>
            </div>
        }
    <form id="newForm">
        <label for="exampleTextbox" >Leave a comment:</label>
        <textarea placeholder="Enter your comment here..." class="form-control"></textarea>
        <div class="mt-2 col d-flex justify-content-between">
            <button  class="btn btn-primary" role="button">Post</button>
            <a href="/ChatList"  class="btn btn-outline-info" role="button">Back</a>
        </div>
    </form>
}


